@import "ant-design-vue/dist/antd.less";
@theme: #fb7299;
@theme-yello: #ff0;
@white: #ffffff;
@black: #000000;
@primary-color: #222222; // 全局主色
@text-tip: rgba(0, 0, 0, 0.5);
.ant-input,
.ant-input-password {
  border-radius: 1rem;
}
